.layer-selection-container {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: relative;
  margin-right: 5px;
}

.layer-selection-container.mobile {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.swipe-title {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    white 10%,
    white 90%,
    rgba(255, 255, 255, 0.1)
  );
}

.layer-selection-container > * {
  pointer-events: auto;
}

.open-close-toggle-container {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  background-color: white;
  padding: 3px 15px 0;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(-50%);
}

.open-close-toggle {
  width: 22px;
  height: 18px;
}

.open-close-toggle:hover {
  background-color: rgb(1000, 1000, 1000, 0.5);
}

.layer-selection-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 0 2pt rgba(60, 132, 150, 0.3);
  background-color: rgba(193, 241, 253, 0.9);
  border: 5px solid rgba(60, 132, 150, 0.8);
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
}

.layer-selection-content-container.mobile > .layer-selection-button-container {
  grid-template-rows: 0px 60px;
}

.layer-selection-content-container.mobile
  > .layer-selection-button-container
  > .layer-selection-button-text-container {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.layer-selection-content-container.mobile
  > .layer-selection-button-container
  > .layer-selection-image-container {
  height: 60px;
  width: 60px;
}

.layer-selection-content-container.mobile
  > .layer-selection-button-container
  > .layer-selection-image-container
  > .layer-selection-icon {
  height: 60px;
  width: 60px;
}

.layer-selection-button-container {
  display: grid;
  grid-template-rows: 25px 60px;
  margin: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.layer-selection-icon {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 2.5px;
}

.layer-selection-icon.beta {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.layer-selection-button-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 5px;
  margin-bottom: 5px;
}

.layer-selection-button-text {
  color: black;
  font-size: 0.9em;
  text-transform: capitalize;
}

/* Unselected */
.layer-selection-button-container > .layer-selection-image-container {
  border-radius: 50px;
  background-color: rgba(60, 132, 150, 0.3);
  height: 55px;
  width: 55px;
  margin: 5px auto;
}

/* Selected */
.layer-selection-button-container.selected
  > .layer-selection-button-text-container {
  border-radius: 25px;
  background-color: #aa536a;
}

.layer-selection-button-container.selected
  > .layer-selection-button-text-container
  > * {
  color: white;
  text-shadow: 0.5px 0.5px 2px black;
}

.layer-selection-button-container.selected > .layer-selection-image-container {
  border-radius: 50px;
  background-color: #aa536a;
  height: 55px;
  width: 55px;
  margin: 5px auto;
}

.currently-viewing-text-container {
  color: white;
  margin-left: 20px;
  pointer-events: none;
  width: 40%;
  text-shadow:
    0px 0px 10px black,
    0px 0px 3.5px black;
}

.currently-viewing-text-container > * {
  pointer-events: all;
  text-align: left;
}

.currently-viewing-text-layer,
.currently-viewing-text-location {
  display: inline;
}

.currently-viewing-text-layer {
  font-size: 1.4em;
}

.currently-viewing-text-location {
  font-size: 1.2em;
  font-style: italic;
}
