.search-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 2pt rgba(60, 132, 150, 0.3);
  background-color: rgba(193, 241, 253, 0.9);
  border: 5px solid rgba(60, 132, 150, 0.8);
  border-radius: 30px;
  padding: 5px 16px 20px;
}

.search-info-text {
  font-size: 0.9em;
  margin: 5px 5px 8px;
  text-align: left;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-inline-start: 12px;
}

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
  width: 100%;
  text-align: left;
}

.search-result.highlighted {
  background-color: rgba(60, 132, 150, 0.8);
}
