@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shoreline: #79abb7;
  --open: #21233a;
  --trench: #323340;
  --trench-light: #47485c;
  --coral: coral;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}
