@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shoreline: #79abb7;
  --shoreline-dark: #618993;
  --open: #21233a;
  --trench: #323340;
  --trench-light: #47485c;
  --coral: coral;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: "Open Sans", sans-serif;
}

@layer base {
  /* Block Title */
  h1 {
    @apply font-sans text-5xl md:text-7xl font-normal uppercase font-bold;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  /* Subtitle */
  h2 {
    @apply font-serif text-4xl md:text-5xl italic font-normal;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h3 {
    @apply font-sans text-xl md:text-xl font-normal uppercase font-bold;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h4 {
    @apply font-sans text-sm md:text-base font-normal uppercase font-bold;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h5 {
    @apply font-sans text-sm md:text-base font-normal font-bold;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p,
  input {
    @apply font-serif text-base font-normal;
  }

  li {
    @apply font-sans text-base font-normal;
  }

  /* Large Body */
  .body-large {
    @apply text-base md:text-xl;
  }

  .body {
    @apply text-base md:text-lg;
  }

  /* Large Label */
  .label-large {
    @apply font-serif text-sm md:text-base italic font-normal;
    transition: color 0.2s ease-in-out;
  }

  .label-large a {
    @apply underline;
  }

  p.label-large a:hover {
    @apply text-coral;
  }
}

@layer components {
  .btn-large {
    @apply bg-shoreline border-2 border-shoreline rounded-2xl px-4 py-3 md:px-6 md:py-4	text-white text-lg md:text-xl font-sans uppercase font-bold transition-colors;
  }
  .btn-large:hover {
    @apply border-coral bg-shoreline-dark;
  }
}
